/* For styling the rendered Markdown */
h1 {
    text-transform: uppercase;
    line-height: 1.5em;
    margin-top: 0em;
    padding-bottom: 0em;
    color: #E2DFDB;
}

h2, h3, h4, h5, h6 {
    line-height: 1.3em;
    padding-top: 1em;
    padding-bottom: 0em;
    color: #E2DFDB;
}

h1, h2, h3, h4, h5, h6 {
    width: 100%;
}

h2 a {
    text-transform: uppercase;
    color: #E2DFDB;
    text-decoration: none;
}

body {
    counter-reset: h1
}

h1 {
    counter-reset: h2
}

h2 {
    counter-reset: h3
}

h3 {
    counter-reset: h4
}

h4 {
    counter-reset: h5
}

h5 {
    counter-reset: h6
}

/** put counter result into headings */
h1:before {
    text-transform: uppercase;
    margin-left: -0.5em;
    counter-increment: h1;
    content: counter(h1) "  "
}

h2:before {
    counter-increment: h2;
    content: counter(h1) "." counter(h2) " "
}

h3:before,
h3.md-focus.md-heading:before /** override the default style for focused headings */
{
    counter-increment: h3;
    content: counter(h1) "." counter(h2) "." counter(h3) " "
}

h4:before,
h4.md-focus.md-heading:before {
    counter-increment: h4;
    content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) " "
}

h5:before,
h5.md-focus.md-heading:before {
    counter-increment: h5;
    content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) " "
}

h6:before,
h6.md-focus.md-heading:before {
    counter-increment: h6;
    content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) " "
}

/** override the default style for focused headings */
h3.md-focus:before,
h4.md-focus:before,
h5.md-focus:before,
h6.md-focus:before,
h3.md-focus:before,
h4.md-focus:before,
h5.md-focus:before,
h6.md-focus:before {
    color: inherit;
    border: inherit;
    border-radius: inherit;
    position: inherit;
    left: initial;
    float: none;
    top: initial;
    font-size: inherit;
    padding-left: inherit;
    padding-right: inherit;
    vertical-align: inherit;
    font-weight: inherit;
    line-height: inherit;
}
